@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');





.radius5xl{
    border-radius: 10px 100px 100px 10px;
}
.roundedLogin{
    border-radius: 100px 10px 10px 100px;
}

input, textarea, select {
    font-size: 16px;
  }



  @font-face {
    font-family: 'Lobster Two';
    src: url('./src/fonts/LobsterTwo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Lobster Two';
    src: url('./src/fonts/LobsterTwo-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  